@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

.font {
    font-family: 'Nanum Myeongjo', serif;
}

body {

    background-image: linear-gradient(to right, #200122 0%, #6f0000 51%, #200122 100%);
    color: white;

}


.btn-grad {
    background-image: linear-gradient(to right, #c21500 0%, #ffc500 51%, #c21500 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}